.bannerEditAndDelete {
    position: absolute;
    top: 0;
    right: 0;
}

/* :has(>.bannerEditAndDelete) {
    width: 200px !important;
} */

.bannerUpload .bannerEdit input {
    display: none;
}

.bannerUpload .bannerEdit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #ffffff;
    border: 1px solid transparent;
    box-shadow: 0 0 10px #a19e9e;
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}

.bannerUpload .bannerEdit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

.bannerUpload .bannerEdit input + label svg {
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.bannerUpload .bannerLoader {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.bannerError {
    margin-top: 0.5rem;
    color: #dc3545;
    font-size: 0.875rem;
}

.bannerDeleteBtn {
    width: 34px;
    height: 34px;
    border-radius: 100%;
    background: #ffffff;
    color: #dc3545;
    border: 1px solid transparent;
    box-shadow: 0 0 10px #a19e9e;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
